/* Global styles for Dark Mode

/* TEXT */
:root {
    --dark: #000;
    --medium: #1b1b1b;
    --light: #2e2e2e;
}

body.dark-mode p {
    color: #fff;
}

body.dark-mode h1 {
    color: white;
}

body.dark-mode h2 {
    color: white;
}

body.dark-mode h3 {
    color: white;
}

body.dark-mode .txt3 {
    color: white;
}

body.dark-mode .txt4 {
    color: black;
}


/* ICONS */
body.dark-mode .fa-moon,
body.dark-mode .ri-github-line,
body.dark-mode .ri-linkedin-box-line {
    color: white;
}

/* BUTTONS */
.dark-mode-button {
    background: transparent;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-dark-mode-button {
    position: absolute;
    top: 60px;
    right: 15px;
    transform: rotate(-90deg);
    z-index: 1000;
    transition: .3s ease-in;
}

.top-dark-mode-button:after {
    content: 'LIGHT';
    position: absolute;
    color: black;
    transform: rotate(90deg);
    right: 22px;
    top: 10px;
    transition: .1s ease-in;
}

body.dark-mode .top-dark-mode-button:after {
    content: 'DARK';
    color: white;
    top: 12px;
}

/* BACKGROUND */
body.dark-mode {
    background: #191919;
}

body.dark-mode #updates {
    background: #000000;
}

/* CARD CONTAINER */
body.dark-mode .cardcontainer {
    background-color: darkgray;
    border: 2px solid white;
}
