:root {
    --dark: #000;
    --medium: #1b1b1b;
    --light: #2e2e2e;
}

body.dark-mode #updates {
    background: #000000;
}

.dark-mode-button {
    background: transparent;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-dark-mode-button {
    position: absolute;
    top: 60px;
    right: 15px;
    transform: rotate(-90deg);
    z-index: 1000;
    transition: .3s ease-in;
}

.top-dark-mode-button:after {
    content: 'LIGHT';
    position: absolute;
    color: black;
    transform: rotate(90deg);
    right: 22px;
    top: 10px;
    transition: .1s ease-in;
}

body.dark-mode .top-dark-mode-button:after {
    content: 'DARK';
    color: white;
    top: 12px;
}

body.dark-mode {
    background: #191919;
}

body.dark-mode p {
    color: #fff;
}

body.dark-mode .cardcontainer {
    background-color: darkgray;
    border: 2px solid white;
}

body.dark-mode h1 {
    color: white;
}

body.dark-mode .txt4 {
    color: black;
}

body.dark-mode .txt3 {
    color: white;
}

.fa-moon {
    color: white;
}